.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    height: 100vh;
    position: relative;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in {
    opacity: 1;
}

.introContent {
    font-family: 'Notable';
    font-size: 40px;
}

.paragraph-container {
    display: flex;
    align-items: center;
}

.introName {
    width: 80%;
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.paragraph {
    font-family: 'DotGothic16';
    font-size: 20px;
    max-width: 40vh;
}

@media only screen and (max-width: 600px) {
    .introName {
        width: 100%;
    }

    .introContent {
        font-family: 'Notable';
        font-size: 30px;
    }
    
}