.aboutName {
    width: 30rem;
}

.aboutImage{
    max-width: 40vh;
    padding-top: 20px;
    border-radius: 50%;
}
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    height: 100vh;
    opacity: 1;
}

.paragraph-container {
    display: flex;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.paragraph {
    font-family: 'DotGothic16';
    font-size: 20px;
    max-width: 80vh;
}

@media only screen and (max-width: 844px) {

    .about-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }

    .aboutName {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aboutImage {
        max-width: 80%;
        border-radius: 50%;
    }

    .paragraph {
        font-size: 16px; 
    }
}