.navbar {
    height: 20vh;
    width: 8rem;
    position: absolute;
    display: flex;
    padding: 1rem 2rem;
    flex-direction: column;
    z-index: 3;
    align-items: center;
}

.navbar-item {
    margin: 1rem 0;
    cursor: pointer;
    color: #ffffff;
}

.navbar-item:hover {
    color: #ff4c76;
    padding-bottom: 0.5rem;
    display: inline-block;
    border-bottom: 5px solid #ff4c76;
}
